# Add any directories, files, or patterns you don't want to be tracked by version control

*.med
*.msh
*.out
*.xyz
*.mesh
*.vtk
*.o
*.dat
*.txt
*.csv
*.info
*.vtu
*.pvd
*.meshb
*.khi
*.idp
*.so
./*.pdf

## AUTOCONF FILES ##
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.in
*.nfs*
compile
src/distributed-mesher/topIIvol_DistMesher
src/mesher/topIIvol_Mesher
src/par-mesher/topIIvol_ParMesher
src/mesher/topIIvol_PreProc

## CLUSTER ERROR FILES ##
*.btr

## ALLOWED FILES ##
!/data/DEM_10m.xyz
!/data/DEM_160m.xyz
!/data/data5x5.xyz
!/data/data6x5.xyz
!/data/data5x6.xyz
!/data/data6x6.xyz
!/data/data6x9.xyz
!/data/data9x9.xyz
!/data/data3x3.xyz
!/data/data3x2.xyz
!/data/data2x3.xyz
