# Add any directories, files, or patterns you don't want to be tracked by version control

*.msh
*.out
*.xyz
*.mesh
*.vtk
*.o
*.dat
*.txt
*.csv
*.info
*.vtu
*.pvd
*.meshb
*.khi
*.idp
*.so

## AUTOCONF FILES ##
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.in
*.nfs*
compile
src/distributed-mesher/top-ii-vol-DistMesher
src/distributed-mesher/top-ii-vol-Part
src/mesher/top-ii-vol-Mesher
src/mesher/top-ii-vol-ParMesher
src/mesher/top-ii-vol-PreProc

## ALLOWED FILES ##
!/data/DEM_10m.xyz
!/data/DEM_160m.xyz

